@import 'mixin';

// colors
$white :#fff;
$black : #000;
$btn-color :#2962FF;
$logo-color:#0A253B;
$txt-color :#777B7D;
$sub-head-color:#1E2E2E;
$card-hover:#313849;
$fb-color : #3B5998;
$twit-color : #1DA1F2;
$gplus-color : #DD4B39;
$theme-color:#122A3C;

// font Face
$sans-bold :SourceSansPro-Bold;
$sans-semibold :SourceSansPro-SemiBold;
$sans-regular :SourceSansPro-Regular;
$sans-light :SourceSansPro-Light;
$sans-black :SourceSansPro-Black;