@import 'variables';
@import 'mixin';

.sub-heading{
    @include sub-hedings;
}
// Header Section Start
.header{
    padding: 20px 0;    
    .navbar-toggler{background-color:$btn-color;}
    .navbar-toggler-icon{
        background-image: url(../img/list.svg);
    }
    // Navigation Menus
    .navbar {
        z-index: 10000;
        &-brand{
            font-size: 1.25rem;text-transform: uppercase;
            font-family: $sans-bold;color: $logo-color;
        }
        &-nav{
            position: relative;
            .nav-item{
                margin: 0 5px;
                .nav-link{
                    font-size: 1rem; font-family: $sans-semibold;
                    text-transform: capitalize;
                    color: $logo-color;padding: 10px 15px;

                    &:hover{color: $btn-color}

                    &.close{display: none;}
                    &.search{.fa-solid{margin-top: 3px;}}
                }
                &.active{
                    .nav-link{color: $btn-color}
                }
                
                &.show{
                    .search{display: none;}
                    .close{
                        display: block;
                        .fa-solid{color: $logo-color;font-size: 1.125rem;margin-top: 3px;}
                    }
                }
                .form{
                    position: absolute;left: 20px;bottom: -90px;
                    width: 350px; padding: 10px;background-color: $white;
                    z-index: 100;;
                    box-shadow: 0 0 5px rgba($black, .1);
                    display: none;
                    .form-control{
                        width: 100%;padding: 5px 40px 5px 10px;overflow: hidden;
                        text-overflow: ellipsis; height: 50px;box-shadow: none;
                    }
                    
                    .btn{
                        position: absolute;right: 15px;top: 17px;padding: px;
                        box-shadow: none; background-color: $white;
                        &:hover{color: $btn-color}
                    }
                }
            }
        }
        .btns{
            .btn{
                @include btns;
                background-color: $btn-color;color: $white;
                &.btn-link{
                    border: none;background-color: unset;color: #122A3C;
                    box-shadow: none;text-decoration: none;
                    &:hover{color: $btn-color;}
                }
            }
        }

    }
    &.bg-color{background-color: $white;box-shadow: 0 5px 5px rgba($black, .3);transition: .5s;}
}
// Header Section End
// Left Side Sodial Icons
.social-iocns{
    position: fixed;top: 40%; left: 0;
    @include flexbox; flex-direction: column;justify-content: center;
    gap: 20px; padding: 20px 10px;
    box-shadow: 0 0 10px rgba($black, .3);
    border-radius: 0  10px 10px 0;
    z-index: 1000000;background-color: $white;
    .social-links{
        padding: 5px;
        .fa-brands{
            font-size: 1.325rem;
            &.fa-facebook-f{color:$fb-color;}
            &.fa-twitter{color:$twit-color;}
            &.fa-google-plus-g{color:$gplus-color;}
        }
        &:hover{
            .fa-brands{transform: scale(1.3);}
        }
    }
}

// Hero Heading and Image Section Start
.hero-heading{
    overflow: hidden;padding: 80px 0 50px;
    position: relative; z-index: 1000;
    &>.img-fluid{display: block;width:65%;
        position: absolute;top: -77px;right: -250px;
       
    }
    // heading SEction
    .heading_sec{
        .head-title{
            font-size: 4rem;font-family: $sans-bold;
            color: $logo-color; line-height: 1.25;
            margin-bottom: 10px;
            .txt-clr{color: $btn-color;}
        }
        .head-text{
            @include para-text;
        }
        .btn{
            @include btns;background-color: $btn-color;color: $white;
        }
    }
    // Image SEction
    .bg-img{
        position: relative;
        .img-fluid{
            max-width: 102%;display: block; 
            position: relative;left: 60px;
            top: -10px;
        }
        .overlay-content{
            position: absolute; top: 40%;left: 0;
            width: 100%;
            @include flexbox; justify-content: space-between; 
            align-items: unset;
            .sec{
                width: auto;background-color: $white;position: relative;
                padding: 10px 25px; text-align: center;border-radius: 10px;
                box-shadow: 0 0 5px rgba($black, .2);

                .title{
                    font-size: 1rem;font-family: $sans-bold;color: $sub-head-color;
                    padding-bottom: 20px;
                }
                .link{
                    position: absolute;bottom: -18px;
                    width: 45px;height: 45px;
                    background-color: $theme-color;color: $white;
                    border-radius: 50%; @include flexbox;
                    text-decoration: none;
                    .fa-brands{font-size: 1.25rem;}
                    &.apple{left: 14px;}
                    &.play{left: unset;right: 14px;}
                }
                &.app-btn{margin-left: 40px;}

                &.quick{
                    position: absolute; right: -30px;bottom: -115px;
                    padding: 0 15px 0 0;gap: 8px;
                    @include flexbox;flex-direction: row; align-items: center;
                    .title{padding-bottom: 0;margin: 0;}
                    .link{position: unset;margin-left: -12px;}
                }
                
            }
            
        }
    }

}
// Hero Heading and Image Section End

// How We Work Section Start
.work{
    padding: 50px 0;position: relative;
    .side-bg{position: absolute;
        width: 50%;top: -200px;
        left: -39%; 
    }
    
    .cards-sec{
        margin-bottom: 20px;
        .card{
            text-align: center; box-shadow: 0 2px 10px rgba($black, .2);
            padding: 25px 16px; cursor: pointer;
            .shape{
                @include flexbox;
                width: 60px;height: 60px;
                background-color: rgba(246,93,35,.4);
                border-radius: 40% 50% 60% 45%;
                margin:20px auto 0;
                .fa-solid{font-size: 1.375rem;color: $sub-head-color;}
                &.search{
                    background-color: rgba(24,248,112,.3);
                }
                &.request{
                    background-color: rgba(41,98,255,.3);
                }
                &.delivery{
                    background-color: rgba(70,90,187,.3);
                }
            }
            &-title{
                font-size: 1.125rem; color: $sub-head-color;
                font-family: $sans-bold;
            }
            &-text{
               @include para-text;margin-bottom: 0;
            }
            &:hover{
                background-color: $card-hover; color: $white;
                box-shadow: 0 0 10px rgba($black, .5);

                .shape{
                    background-color:rgba(246,93,35,1);
                    &.search{background-color: rgba(24,248,112,1);}
                    &.request{background-color: rgba(41,98,255,1);}
                    &.delivery{background-color: rgba(70,90,187,1);}
                }
                .card-title, .card-text, .fa-solid{color: white;}
            }
        }
    }
}
// How We Work Section End

// Why choose Us Section Start
.choose{
    padding: 50px 0;
    // Heading sections
    .heading_sec{
        padding-left: 105px;
        .sub-heading{
             text-align: left;
        }
        .info-txt{
            @include para-text; text-align: justify;
        }
        .btn{
            @include btns;
        }

    }
    // Circles Section
    .circle-card{
        .card{
            background-color: $btn-color;color: $white;
            border-radius: 50px 0 0 50px;border: none;
            .card-img-overlay{
                @include flexbox; padding: 60px;
                .row{gap: 30px}
                .sec{
                    @include flexbox;flex-direction: row;
                    justify-content: space-between;
                     flex-wrap: nowrap;
                    .circle{
                        width: 150px;height: 150px;margin-right: 50px;
                        border: 2px solid $white;
                        border-radius: 50%; 
                        &-content{
                            display: block;width: 150px;
                            background-color: $btn-color; margin: 30px;
                            border-right: 1px solid rgba($white, .2);
                            padding: 5px;
                            .content-title{
                                font-size: 2.875rem; font-family: $sans-bold;
                                line-height: 1;
                            }
                            .sub-title{font-size: 1.25rem;font-family: $sans-regular;}
                        }
                    }
                    .info{
                        margin-left: 20px;font-size: 1rem; font-family: $sans-regular;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
}
// Why choose Us Section End

// Supply Chanin Food Product Section Start
.food-product{
    padding: 50px 0;position: relative; overflow: hidden;
    &>.img-fluid{
        position: absolute; top: 50px;right: -250px;
        width: 40%;
    }
    .heading_sec{
        .sub-heading{
            line-height: 1.4;
        }
    }
    .pro-img{
        
        .card{
            border-radius: 22px;overflow: hidden;
            border: none; background-color: transparent;
            .img-fluid{width: 90%;}
        }
    }
    .product-details{
        margin-top: 20px;
        .detail-heading{
            font-size: 1.6rem;font-family: $sans-bold; line-height: 1.4;
            margin-bottom: 20px;
        }
        .detail-text{@include para-text; margin-bottom: 20px;}
        .list{
            margin: 10px 0 50px; padding-left: 17px;list-style: none;
            &-item{
                font-size: .875rem;position: relative; margin:0 0 10px 10px;
                color: $theme-color;
                &::before{
                    content:"";
                    position: absolute;left: -25px;top: 7px;
                    width: 8px;height: 8px;
                    background-color: rgba($theme-color, .3);border-radius: 50%;
                 }
            }
        }
        .btn{@include btns;}
    }
}
// Supply Chanin Food Product Section End

// Membership Card Section Start
.membership{
    background: url(../img/member-bg.png)no-repeat;
    background-size: 100% 100%;padding: 100px 0 80px;
    .card{
        margin-bottom: 25px;
        .icons{
            width: 100px;height: 100px;
            border-radius: 50%;margin:0 auto -15px;
            @include flexbox;
        }
        &-body{
            .card-title{
                font-size: 1.5rem;font-family: $sans-semibold;
                text-transform: uppercase; text-align: center;margin-bottom: 10px;
            }
            .card-price{
                font-size: 2rem;font-family: $sans-bold;
                color: $theme-color;text-align: center;
                margin-bottom: 15px;
                .fa-solid{font-size: 1.625rem;}
            }
        }
        .list-unstyled{
            border-top: 1px solid rgba(#707070, .2); margin-bottom: 30px;
            .list-item{
                margin: 20px 0; font-size: .875rem; font-family: $sans-regular;
                .fa-solid{
                    margin-right: 10px;color: rgba($theme-color, .3);
                    font-size: 1rem;
                }
            }
        }
        .btn{
            @include btns;width: 100%; border: 2px solid $btn-color;
            height: 50px;padding: 12px 30px;
        }
    }
}
// Membership Card Section End

// Our Happy Customer SEction Start
.customer-slider{
    padding: 100px 0;position: relative;
    &>.img-fluid{
        width: 50%;position: absolute;
        top: 100px;left: -250px;
    }
    .heading_sec{
        margin-bottom: 100px;
    }
    .carousel{
        .card{
            text-align: center; padding: 20px 30px 0; 
            margin: 0 10px;border-radius:10px;border: none;
            box-shadow: 0 0 5px rgba($black, .1);
            background-color: rgba($white, .6);
            .profile{
                width: 150px;height: 150px;
                border-radius: 10px;overflow: hidden;
                margin:-100px auto 20px;
            }
            .quote{
                position: absolute;right: 50px;top: 50px;
            }
            &-body{
                width: 70%; margin: auto;
                .card-text{
                    font-size: 1rem;color: #333333;
                    line-height: 1.5;
                }
                .card-title{
                    font-size: 1.5rem;font-family: $sans-semibold;
                    color: $theme-color;margin-bottom: 0;
                }
                .sub-title{font-size: .75rem;font-family: $sans-regular;color: $txt-color;}
            }
            &.slick-current{
                background-color: #fff;
                box-shadow: 0 0 10px rgba($black, .3);
            }
        }
        
        .slick-list{overflow: unset;}
        .slick-next{
            right: 100px;background-color: $white;
            width: 35px; height: 35px;z-index: 10;
            border-radius: 50%; box-shadow: 0 0 10px rgba($btn-color, .2);
            &::before{
                content: '\f105';
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1; text-rendering: auto;
                font-size: 1rem;color: $btn-color;
            }
        }
        .slick-prev{
            left: 100px;background-color: $white;
            width: 35px; height: 35px;
            border-radius: 50%; box-shadow: 0 0 10px rgba($btn-color, .2);
            z-index: 10;
            &::before{
                content: "\f104";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: var(--fa-display,inline-block);
                font-style: normal; font-variant: normal;
                line-height: 1;text-rendering: auto;
                font-size: 1rem;color: $btn-color;
            }
        }
        &.slick-dotted.slick-slider{
            .slick-dots{display: none!important;}
        }
    }
    .progress {
        display: block; width: 100%; height: 5px;
        border-radius: 4px; overflow: hidden;
        background-color: rgba(#00C853, .2);
        background-image: linear-gradient(to right, $btn-color, $btn-color);
        background-repeat: no-repeat;background-size: 0 100%;
        transition: background-size .4s ease-in-out;

        .sr-only {
            position: absolute; width: 2px;height: 2px;
            padding: 0;margin: -1px; overflow: hidden;
            clip: rect(0,0,0,0);border: 0;
          }
      }
    
}
// Our Happy Customer SEction End

// Footer Section Start
.footer{
    background-color: $foot-bg-color;
    padding: 50px 0 0;

    // Link and Info Blocks
    .block{
        margin-bottom: 20px;
        .foot-heading{
            font-size: 1.125rem;color: $white;
            font-family: $sans-semibold;margin-bottom: 20px;
        }
        .list-unstyled{
            .list-item{
                margin-bottom: 20px;
                .foot-link{
                    font-size: 1rem;color: rgba($white, .8);
                    padding: 10px 0;
                }
            }
        }

        .form{
            width: 95%; position: relative;
            border-radius: 5px;
            .form-control{
                height: 45px; border-radius: 5px 0 0 5px;
                border:1px solid $txt-color;
                border-right: none; 
            }
            .btn{
                @include btns; height: 45px;color: $white;
                border-radius:  0 5px 5px 0 ;
                box-shadow: unset;
            }
            .error{
                position: absolute;bottom: -25px;
                font-size: .875rem;
            }
        }

        .call{
            @include flexbox;color:$white;align-items: center;
            gap: 10px; margin-top: 37px; cursor: pointer;
            .foot-heading{
                display: flex;flex-direction: column;gap:5px;
                small{font-family: $sans-regular;}
            }
            .fa-solid{
                background-color: $white;font-size: 1.5rem;
                color: $btn-color; padding: 12px;border-radius: 50%;
            }
        }
        
        .icons{
            @include flexbox; justify-content: flex-start;
            gap: 10px;
            .social-links{
                width: 40px;height: 40px;color: $white;
                text-decoration: none;border-radius: 5px;
                @include flexbox;
                background-color: rgba($white, .2);
                .fa-brands{font-size: 1.25rem;}

                &:hover{
                    &:first-child{background-color:$fb-color;}
                    &:nth-child(2){background-color:$gplus-color;}
                    &:last-child{background-color:$twit-color;}
                }
                
            }
        }

        &_4{
            .list-unstyled{
                .list-item{
                    margin-bottom: 0;
                    .btn{
                        width: auto;padding: 3px 0;
                        box-shadow: none;
                    }
                }
            }
            
        }
    }

    // Copyright Text
    .copyright{
        border-top: 1px solid rgba($white, .2);
        padding: 22px 0;;
        &-text{
            text-align: center;margin: 0;;
            font-size: .875rem; font-family: $sans-regular;
            color: rgba($white, .6);
        }
    }
}
// Footer Section End


// Media Query Start
// Extra Large Device 
@media screen and (max-width:1280px){
    // Hero Heading and Image Section Start
    .hero-heading{
        &>.img-fluid{top: -115px;right: -300px;width: 70%;}
        .bg-img{
            .img-fluid{
                width: 100%;left: 30px;
            }
            .overlay-content{
                .sec{
                    &.quick{right: 10px;}
                    &.app-btn{left:-20px ;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // Why choose Us Section Start
    .choose{
        .heading_sec{padding-left: 70px;}   
        .circle-card{
            .card{
                .card-img-overlay{
                    padding: 10px 30px;
                }
            }
        }
    }
    // Why choose Us Section End
}
// Large Device
@media screen and (max-width:1199px){
    // Hero Heading and Image Section Start
    .hero-heading{
        &>.img-fluid{top: -65px;right: -250px;width: 72%;}
        .bg-img{
            .img-fluid{
                width: 95%;left: 30px;
            }
            .overlay-content{
                .sec{
                    &.quick{right: 20px;bottom: -95px;}
                    &.app-btn{left:-20px ;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End
}
// Medium Device
@media screen and (max-width:1080px){
    // Hero Heading and Image Section Start
    .hero-heading{
        &>.img-fluid{top: -90px;right: -200px;width: 75%;}
        .bg-img{
            .img-fluid{
                width: 95%;left: 30px;
            }
            .overlay-content{
                .sec{
                    &.quick{right: 10px;}
                    &.app-btn{left:-20px ;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // Why choose Us Section Start
    .choose{
        .heading_sec{padding-left: 16px;}
        .circle-card{
            .card{
                .card-img-overlay{
                    .sec{
                        .circle{
                            width: 130px;height: 130px;margin-right: 35px;
                            &-content{
                                width: 135px; margin: 25px;
                                padding: 5px;
                                .content-title{font-size: 2.5rem;}
                                .sub-title{font-size: 1.125rem;font-family: $sans-regular}
                            }
                        }
                    }
                }
            }
        }
    }
    // Why choose Us Section End

    // Our Happy Customer SEction Start
    .customer-slider{
        .carousel{
            .card{
                &-body{ width: 90%;}
            }
        }
    }
    // Our Happy Customer SEction End
}
// Tablet Device
@media screen and (max-width:991px){
    .sub-heading{
        @include sub-hedings;margin-bottom: 20px;
    }

    // Header Section Start
    .header{
        .navbar{
            &-nav{
                .nav-item{
                    .form{
                        left: 100px;bottom: 0;
                        top: 55px;right: 0;height: 70px;
                    }
                    &.show{
                        .close{float: left;}
                    }
                }
            }
        }
    }
    // Header Section End

    // Hero Heading and Image Section Start
    .hero-heading{
        &>.img-fluid{top: -70px;right: -250px;width: 70%;}
        .heading_sec{
            .head-title{font-size: 3.5rem;}
        }
        .bg-img{
            .img-fluid{
                width: 110%;left: 10px;
            }
            .overlay-content{
                .sec{
                    padding: 5px 25px;
                    .link{
                        width: 40px;height: 40px;
                        .fa-brands{font-size: 1.125rem;}
                    }
                    &.quick{right: 15px;bottom: -60px;}
                    &.app-btn{left:-50px ;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // Why choose Us Section Start
    .choose{
        .heading_sec{ padding-left: 16px;}
        .circle-card{
            .card{
                .card-img-overlay{
                    .row{gap: 20px;}
                    .sec{
                        .circle{
                            width: 105px;height: 105px;margin-right: 35px;
                            &-content{
                                width: 110px; margin: 14px;
                                padding: 5px;
                                .content-title{font-size: 2rem;margin-bottom: 0;}
                                .sub-title{font-size: 1rem;}
                            }
                        }
                        .info{
                            line-height: 1.4;font-size: .875rem;
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    // Why choose Us Section End

    // Our Happy Customer SEction Start
    .customer-slider{
        padding: 50px 0;
        &>.img-fluid{
            width: 75%;
        }
        .carousel{
            .card{
                .quote{
                    img{width: 77%;}
                }
                .profile{
                    width: 130px;height: 130px;
                    margin:-80px auto 20px;
                }
                &-body{ width: 95%;}
            }
        }
    }
    // Our Happy Customer SEction End


}
// Big Screen Mobile
@media screen and (max-width:767px){
    .sub-heading{
        @include sub-hedings;margin-bottom: 25px;
        font-size: 2.25rem;
    }

    // Hero Heading and Image Section Start
    .hero-heading{
        padding: 100px 0 20px;
        &>.img-fluid{top: -30px;right: -220px;width: 100%;}
        .heading_sec{
            .head-title{font-size: 3rem;}
        }
        .bg-img{ 
            .img-fluid{
                width: 80%;left: 0px;margin: auto;
            }
            .overlay-content{
                .sec{
                    padding: 5px 25px;
                    .link{
                        width: 40px;height: 40px;
                        .fa-brands{font-size: 1.125rem;}
                    }
                    &.quick{right: 100px;bottom: -90px;}
                    &.app-btn{left:20px ;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // How We Work Section Start
    .work{
        padding: 20px 0;
    }
    // How We Work Section End
    

    // Why choose Us Section Start
    .choose{
        padding: 20px 0; overflow-x: hidden;
        .heading_sec{ padding-left: 16px;margin-bottom: 30px;}
        .circle-card{
            .card{
                border-radius: 30px;
                .card-img-overlay{
                    padding: 15px 30px;
                    .row{gap: 25px;}
                    .sec{
                        .circle{
                            width: 130px;height: 130px;margin-right: 35px;
                            &-content{
                                width: 130px; margin: 24px;
                                padding: 5px;
                                .content-title{font-size: 2.375rem;margin-bottom: 5px;}
                                .sub-title{font-size: 1.125rem;}
                            }
                        }
                        .info{
                            line-height: 1.5;font-size: .9rem;
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    // Why choose Us Section End

    // Food Product Section Start
    .food-product{
        padding: 30px 0;
        .pro-img{
            .card{
                .img-fluid{margin: auto;}
            }
        }
    }
    // Food Product Section End

    // Our Happy Customer SEction Start
    .customer-slider{
        &>.img-fluid{
            width: 100%;top: 30px;
        }
        .heading_sec{margin-bottom: 70px;}
        .carousel{
            .card{
                .quote{
                    img{width: 77%;}
                }
                .profile{
                    width: 130px;height: 130px;
                    margin:-80px auto 20px;
                }
                &-body{ width: 95%;}
            }
        }
    }
    // Our Happy Customer SEction End
}
// Small Screen Mobile
@media screen and (max-width:575px){
    .sub-heading{
        @include sub-hedings;margin-bottom: 25px;
        font-size: 2rem;
    }

    // Header Section Start
    .header{
        .navbar{
            &-nav{
                .nav-item{
                    .form{
                        width: 100%;
                        left: 0px;bottom: 0;
                        top: 55px;right: 0;height: 70px;
                    }
                    &.show{
                        .close{float: left;}
                    }
                }
            }
        }
    }
    // Header Section End

    // Left Side Sodial Icons
    .social-iocns{
        gap: 10px; padding: 10px 5px;
        .social-links{
            .fa-brands{font-size: 1.25rem;}
        }
    }

    // Hero Heading and Image Section Start
    .hero-heading{
        padding: 100px 0 20px;
        &>.img-fluid{top: -20px;right: -150px;width: 100%;}
        .heading_sec{
            .head-title{font-size: 2.5rem;}
        }
        .bg-img{ 
            margin-top: 50px;
            .img-fluid{
                width: 100%;
            }
            .overlay-content{
                .sec{
                    padding: 5px 25px;
                    .link{
                        width: 40px;height: 40px;
                        .fa-brands{font-size: 1.125rem;}
                    }
                    &.quick{right: 50px;bottom: -90px;}
                    &.app-btn{left:-25px;top: -100px;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // Why choose Us Section Start
    .choose{
        padding: 20px 0;
        .heading_sec{ padding-left: 16px;margin-bottom: 30px;}
        .circle-card{
            .card{
                border-radius: 30px;
                .card-img-overlay{
                    padding: 15px;
                    .row{gap: 15px;}
                    .sec{overflow: auto;
                        .circle{
                            width: 90px;height: 90px;margin-right: 35px;
                            &-content{
                                width: 110px; margin:13px 22px;
                                padding: 5px;
                                .content-title{font-size: 1.625rem;margin-bottom: 5px;}
                                .sub-title{font-size: 1rem;}
                            }
                        }
                        .info{
                            line-height: 1.5;font-size: .875em;
                            margin: 0 0 0 20px;
                        }
                    }
                }
            }
        }
    }
    // Why choose Us Section End

    // Food Product Section Start
    .food-product{
        .product-details{
            .detail-heading{font-size: 1.375rem;margin-bottom: 15px;}
            .detail-text{font-size: .9rem;}

            .list{
                margin-bottom: 30px;
               &-item{font-size: .75rem;}
            }
            
        }
    }
    // Food Product Section End

    // Our Happy Customer SEction Start
    .customer-slider{
        &>.img-fluid{
            width: 100%;top: 30px;left: -150px;
        }
        .heading_sec{margin-bottom: 70px;}
        .carousel{
            .card{
                margin: 0 5px;
                .quote{
                    img{width: 60%;}
                }
                .profile{
                    width: 100px;height: 100px;
                    margin:-60px auto 20px;
                }
                &-body{ width: 95%;
                    .card-text{font-size: .875rem;}
                    .card-title{font-size: 1.25rem;}
                }
            }

            .slick-next{right: 35px;}
            .slick-prev{left: 35px;}
        }
    }
    // Our Happy Customer SEction End

    // Footer Section Start
    .footer{
        .block{
            .call{
               margin-top: 15px;justify-content: flex-start;
            }
        }
    }
    // Footer Section End
}
// Extra Small Mobile Device
@media screen and (max-width:425px){
    .sub-heading{
        @include sub-hedings;margin-bottom: 25px;
        font-size: 1.625rem;
    }

    // Hero Heading and Image Section Start
    .hero-heading{
        padding: 100px 0 20px;
        &>.img-fluid{top: -20px;right: -150px;width: 100%;}
        .heading_sec{
            .head-title{font-size: 2rem;}
            .head-text{font-size: .875rem;}
            .btn{
                font-size: .875rem; padding: 8px 25px;
                .fa-brands{font-size: .75rem;}
            }
        }
        .bg-img{ 
            margin-top: 50px;
            .img-fluid{
                width: 100%;
            }
            .overlay-content{
                .sec{
                    padding: 5px 20px;
                    .title{font-size: .875rem;}
                    .link{
                        width: 35px;height: 35px;
                        .fa-brands{font-size: 1rem;}
                    }
                    &.quick{right: 20px;bottom: -50px;}
                    &.app-btn{left:-25px;top: -100px;}
                }
            } 
        }
    } 
    // Hero Heading and Image Section End

    // Why choose Us Section Start
    .choose{
        .heading_sec{
            .info-txt{
                font-size: .875rem;line-height: 1.5rem;
            }
        }
    }
    // Why choose Us Section End

    // Food Product Section Start
    .food-product{
        .pro-img{
            .card{
                .img-fluid{margin: auto;width: 100%;}
            }
        }
    }
    // Food Product Section End

    // Membership Card Section Start
    .membership{
        .card{
            &-body{
                .card-title{font-size: 1.25rem;}
                .card-price{
                    font-size: 1.5rem;
                    .fa-solid{font-size: 1.25rem;}
                }
            }
        }
    }
    // Membership Card Section End

    // Our Happy Customer SEction Start
    .customer-slider{
        &>.img-fluid{
            width: 100%;top: 0px;left: -120px;
        }
        .heading_sec{margin-bottom: 50px;}
        .carousel{
            .card{
                margin: 0 5px;
                .quote{
                    right: 10px;top:15px;
                    img{width: 60%;}
                }
                .profile{
                    width: 80px;height: 80px;
                    margin:-60px auto 20px;
                }
                &-body{ width: 100%;
                    padding: 15px 5px;
                    .card-text{font-size: .75rem;}
                    .card-title{font-size: 1.125rem;}
                    .sub-title{font-size: .625rem;}
                }
            }

            .slick-next{
                right: 20px; width: 30px;height: 30px;
                &::before{font-size: .875rem;}
            }
            .slick-prev{
                left: 20px; width: 30px;height: 30px;
                &::before{font-size: .875rem;}
            }
        }
    }
    // Our Happy Customer SEction End

    // Footer Section Start
    .footer{
        .block{
            .foot-heading{font-size: 1rem;}
            .list-unstyled{
                .list-item{
                    .foot-link{font-size: .875rem;}
                }
            }
            .form{
                width: 100%;
            }
            .call{
                .fa-solid{font-size: 1rem;padding: 10px;}
            }
            .icons{
                .social-links{
                    width: 35px; height: 35px;
                    .fa-brands{font-size: 1rem;}
                }
            }
        }
    }
    // Footer Section End

}

@media screen and (max-width:375px){
    .sub-heading{
        @include sub-hedings;margin-bottom: 20px;
        font-size: 1.375rem;
    }
    
    // Why choose Us Section Start
    .choose{
        .heading_sec{
            .info-txt{
                font-size: .875rem;line-height: 1.5rem;
            }
        }
        .circle-card{
            .card{
                border-radius: 20px;
                .card-img-overlay{
                    padding: 10px;
                    .row{gap: 10px;}
                    .sec{overflow: auto;
                        .circle{
                            width: 75px;height: 75px;margin-right: 30px;
                            &-content{
                                width: 100px; margin:10px;
                                padding: 5px;
                                .content-title{font-size: 1.25rem;margin-bottom: 5px;}
                                .sub-title{font-size: .875rem;margin-bottom: 0;}
                            }
                        }
                        .info{
                            line-height: 1.5;font-size: .75em;
                            margin: 0 0 0 20px;
                        }
                    }
                }
            }
        }

    }
    // Why choose Us Section End
}   
